.tc-example__increment {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid $mdc-theme-primary;
  text-align: center;
}

.tc-example__count {
  font-size: 3em;
  font-weight: bold;
  margin: 15px;
}
